* {
    margin: 0;
    padding: 0;
    border: 0;
    
}
body {
    background-color: rgb(255, 255, 255);
}

.color_pp {
    background-color: rgb(243, 246, 248);
}
#siteHeader {
    background-color: rgb(35, 40, 41);
    display: flex;
    justify-content: left;
    /* position: fixed; */
    width: 100%;
    /* align-items: center;
    /* margin: 0 auto; */
}

@media (max-width: 767px) {
    #siteHeader {
        width: 100%;

    }
}

#siteHeader .navbar {
    width: 100%;
    color: white;
}

#siteHeader .headerLogo img {

    width: 45px;
    height:  45px;

}

/* #siteHeader .menu  ul {
    display: flex;
    list-style: left;

}


#siteHeader .menu a:hover {
    color: cyan;
} */

#siteHeader .menu ul li a {
    margin: 0 4rem;
    text-decoration: none;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
}

/* @media (max-width: 767px) {
    #siteHeader .menu ul li a {
        display: inline-block;
        margin: 0 4rem;
        font-size: 0.8em;
        

    }
} */



.seccion1 {
    
    background-color: rgb(171, 175, 180);
    background-image: url(../img/presentacion.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-family: sans-serif;
    display: grid;
    /* justify-content: center; */
    align-items: center;
    height: 500px;
    font-size: 20px;
      
}

@media (max-width: 767px) {
    .seccion1 {
        display: grid;
        width: 100%;
        background-size: cover;
    }
}



.seccion1 .caja1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(253, 250, 250);
    opacity: 0.8;
    border-radius: 50px;
    width: 400px;
    height: 150px;
    /* margin-top: 150px; */
    margin: 150px auto 0 150px;
    /* position: relative;
    left: 1px;
    right: 600px;
    top: 50px; */
    box-shadow: 60px -16px rgb(146, 148, 156);
}



.seccion1 .caja1 div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 40px;
}

/* @media (max-width: 767px) {
    .seccion1 .caja1 {
        margin: 0 auto;
    }
} */


.cajas {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border-radius: 50px;
    filter: blur(10px);
    background-color: #2142c5;
    z-index: 1;
    
}

.cajas .cajas__box1 {
    
    object-fit: cover;
    width: 100px;
    height: 100px;
    z-index: 2;
    
}

.cajas .cajas__box1 img {
   
    width: 50px;
    height: 50px;
    z-index: 3;
    
}
.cajas .cajas__box2 {
    width: 100px;
    height: 100px;
}
.cajas .cajas__box3 {
    width: 100px;
    height: 100px;
}
.cajas .cajas__box4 {
    width: 100px;
    height: 100px;
}
.cajas .cajas__box5 {
    width: 100px;
    height: 100px;
}
.cajas .cajas__box6 {
    width: 100px;
    height: 100px;
}




@media (max-width: 767px) {
    .seccion1 .titulo {
        grid-template-columns: 250px;
        font-size: 0.7em;
        font-weight: 100;
        width: 400px;
        height: 200px;
    }
}

.seccion1 .titulo h1 {
    margin-top: 70px;
    /* font-size: 20px; */
    z-index: 999;
    filter: none;
    
}
    



#grilla {
    background-color: rgb(95, 97, 100);
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows:300px 300px;
    width: 100%;
    /* margin: 70px auto; */
    justify-content:  center;
    /* justify-items: center; */
    align-items:  center;
   
   
}

@media (max-width: 767px) {
    #grilla {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px;
        
    }
}
#grilla .ltizq1 {
    display: flex;
    justify-content: left;
}

#grilla .ltizq1 img {
    
    width: 500px;
    height: 250px;
    transition: .2s;
}

#grilla .ltizq1 img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


#grilla .ltder1 {
   
    text-align: center;
    font-family: sans-serif;
    

}


#grilla .ltizq2 {
  
    text-align: center;
    font-family: sans-serif;
}



#grilla .ltder2 img {
    
    width: 500px;
    height: 250px;
    transition: .2s;

}

#grilla .ltder2 img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#boton {
    display: flex;
    justify-content: center;
    background-color: rgb(106, 135, 170);
}
#boton .btn {
    margin: 25px 0 25px 0;
    width: 100px;
    justify-content: center;
}

#boton .btn a {
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    background-color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    border-radius:  50px;
    

}


#siteFooter {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px;
    background-color: black;

}


#siteFooter .footerLogo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
        
}

#siteFooter .footerLogo img {
    width: 70px;
    height: 70px;
    margin-top: 30px;
}

#siteFooter .txtFooter p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 60px;
}

#siteFooter .footerImg  img {
    margin-top: 95px;
    margin-left: 15px;
    width: 30px;
    height: 30px;

}

#descripcion {
    display: grid;
    background-color: rgb(106, 135, 170);
    grid-template-columns: 250px;
    grid-template-rows: 150px;
    justify-content: center;    
}

#descripcion .sobremi {
    position: relative;
    left: 20%;
    width: 150px;
    height: 150px;
}

#descripcion p {
    text-align: center;
    font-family: sans-serif;
    
}

/* ------------------------ PAGINA 2 ----------------------------------------- */

/* -------------------------bloque 1.......................................... */


.bloque1 {
    display: grid;
    background: linear-gradient(72deg, #2142c5 45%, white);
    background-size: cover;
    grid-template-columns: 34% 66%;
    
    margin-bottom: 20px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px;
    gap: 15px;
    
}

@media (max-width: 767px) {
    .bloque1 {
        display: grid;


    }

}

.bloque1 .bloque1__img {
    justify-content: center;
    width: 100%;
}


.bloque1 .bloque1__img img {
    
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.bloque1 .bloque1__txt2 {
   
    margin-left: 30px;
    font-size: 25px;
} 


/* ---------------------------bloque 2----------------------------------- */



.bloque2 {
    display: grid;
    grid-template-columns: auto auto auto;
    
    justify-content: center;
    width: 100%;
    background-size: cover;
    gap: 120px;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family: sans-serif;
}

@media (max-width: 767px) {
    .bloque2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-content: center;
        height: 1000px;
        width: 750px;
        align-items: center;
        gap: 75px;
        

    }
    .bloque2 .bloque2__so {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0 auto;
        
    }

}



.bloque2 .bloque2__red:hover {
    box-shadow: -11px -7px 9px 3px black;
}
.bloque2 .bloque2__soporte:hover {
    box-shadow: 1px -2px 9px 9px black;
}
.bloque2 .bloque2__so:hover {
    box-shadow: 11px -7px 9px 3px black;
}

.bloque2 .bloque2__red {
    background-color: transparent;
    
    border-radius: 20px;
    height: 400px;
    width: 300px;
}

.bloque2 .bloque2__red img {
    margin-top: 15px;
}

.bloque2 .bloque2__red h2 {
    font-weight: 200;
}

.bloque2 .bloque2__red p {
    font-size: 15px;
    margin: 0 auto;

}

.bloque2 .bloque2__soporte {
    background-color: transparent;
    
    border-radius: 20px;
    height: 400px;
    width: 300px;
}


.bloque2 .bloque2__soporte img {
    margin-top: 15px;
}

.bloque2 .bloque2__soporte h2 {
    font-weight: 200;
}

.bloque2 .bloque2__soporte p {
    font-size: 15px;
    margin: 0 auto;
}

.bloque2 .bloque2__so {
    background-color: transparent;
    
    border-radius: 20px;
    height: 400px;
    width: 300px;
}



.bloque2 .bloque2__so img {
    margin-top: 15px;
    
}
.bloque2 .bloque2__so h2 {
    font-weight: 200;
    
}

.bloque2 .bloque2__so p {
    font-size: 15px;
    margin: 0 auto;
}

/* ---------------------------Estudios------------------------------- */




/* --------------------------bloque 3------------------------------- */
.fondo {
    background: linear-gradient(340deg, white 45%, rgb(207, 140, 98));
}


.bloque3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    
  
}

.bloque3 .bloque3__box1 {
    background-image: url(../img/experiencia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: black;
    width: 450px;
    height: 500px;
    margin: 0;
}

.bloque3 .bloque3__box2 {
    display: block;
    width: 300px;
    text-align: center;
    
    
}

.bloque3 .bloque3__box3 {
    display: block;
    text-align: center;
    
}

/* --------------------------------pagina 3---------------------------------- */
/* -------------------------------servicios------------------------------------ */

.servicios {
    display: grid;
    grid-template-areas:
      "one two";
      background-color: rgb(121, 152, 191);
    align-items: center;
    font-family: sans-serif;
    
    grid-template-columns: repeat(2, 1fr);
    inline-size: 100%;
    height: 600px;
    margin: 0;
    

    
}

.servicios .servicios__box1 {
    grid-area: one;
    background-color: rgb(4, 58, 93);
    display: flex;
    
    justify-content: center; 
}

.servicios .servicios__box1 img {
    
    width: 100%;
    height: 100%;
}

.servicios .servicios__box2 {
    grid-area: two;
    
    display: block;
    text-align: center;
}

.servicios .servicios__box2 div {
    margin-top: 40%;

}

.servicios .servicios__box2 div a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color .5;
    width: 100px;
    text-align: center;
    border: 1px solid;
    
    border-radius: 50px;
    background-color: rgb(4, 58, 93);
    color: white;
    margin: 0 auto;
    margin-top: 15px;
}

.servicios .servicios__box2 div a:hover {
    background-color: rgb(14, 122, 194);
}


.grillaRed {
    display: grid;
    grid-template-areas:
      "one two";
      background-color: rgb(200, 236, 247);
    align-items: center;
    font-family: sans-serif;
    
    grid-template-columns: repeat(2, 1fr);
    inline-size: 100%;
    height: 600px;
}



.grillaRed .grilla__one {
    grid-area: one;
    background-color: rgb(200, 236, 247);
    display: block;
    text-align: center;
   
}

.grillaRed .grilla__one div {
    margin-top: 40%;
}


.grilla__one div a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color .5;
    width: 100px;
    text-align: center;
    border: 1px solid;
    
    border-radius: 50px;
    background-color: rgb(4, 58, 93);
    color: white;
    margin: 0 auto;
    margin-top: 15px;
}

.grilla__one a:hover {
    background-color: rgb(14, 122, 194);
}

.grilla__two {
    grid-area: two;
    background-color: rgb(4, 58, 93);
    display: flex;
    justify-content: center;    
}

.grilla__two img {
    height: 100%;
    width: 100%;
}


.So {
    display: grid;
    grid-template-areas:
      "one two";
      background-color: rgb(57, 96, 111);
    align-items: center;
    font-family: sans-serif;
    
    grid-template-columns: repeat(2, 1fr);
    inline-size: 100%;
    height: 600px;
    margin: 0;
    

    
}

.So .So__box1 {
    grid-area: one;
    background-color: rgb(57, 96, 111);
    display: flex;
    
    justify-content: center; 
}

.So .So__box1 img {
    
    width: 100%;
    height: 100%;
}

.So .So__box2 {
    grid-area: two;
    
    display: block;
    text-align: center;
}

.So .So__box2 div {
    margin-top: 40%;

}

.So .So__box2 div a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color .5;
    width: 100px;
    text-align: center;
    border: 1px solid;
    
    border-radius: 50px;
    background-color: rgb(4, 58, 93);
    color: white;
    margin: 0 auto;
    margin-top: 15px;
}

.So .So__box2 div a:hover {
    background-color: rgb(14, 122, 194);
}


    
    







/* ------------------------------------pagina 4------------------------------- */

.color {
   background-color: turquoise;
   background-size: cover;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   width: 100%;
   height: 100%;
   
   
}

.color .color__blanco {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 150px;
}

.color .color__blanco h1 {
    padding-top: 50px;
    font-size: 75px;
}

.color .color__blanco h2 {
    padding: 25px;
}

.formulario1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 25px;
    
    
    
}

.formulario1 .formulario1__box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;


}

.formulario1 .formulario1__box2 {
    background-color: #e5e5e5 !important;
    border: 1px solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 20px;
    border-radius: 35px;
    height: 50px;
    
    
}

.formulario1 .formulario1__box4 {
    background-color: #e5e5e5 !important;
    border: 1px solid;
    border-radius: 35px;
    height: 50px;
    color: black;
    
}


.formulario1 textarea {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: auto;
    height: 100px;
    
}

.formulario1 .formulario1__btn {
    background-color: #2cccc4 !important;
    transition: background-color .5s;
    justify-self: center;
    color: white;
    font-size: 20px;
    border: 1px transparent;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
    font-weight: 600;
   
}

.formulario1 .formulario1__btn:hover {
    background-color: rgb(0, 217, 255) !important;
}

.grilla {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    margin: 0 25px 0 25px;
    position: relative;
    bottom: 50px;
    
   
}

.grilla .grilla__span1 {
    background-color: #2cccc4;
    border-radius: 50%;
    width: 123px;
    height: 123px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    
}

.grilla .grilla__span1 img {

    align-items: center;
    width: 61px;
    height: 61px;
}
.grilla .grilla__span2 {
    background-color: #2cccc4;
    border-radius: 50%;
    width: 123px;
    height: 123px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.grilla .grilla__span2 img {

    align-items: center;
    width: 61px;
    height: 61px;
}
.grilla .grilla__span3 {
    background-color: #2cccc4;
    border-radius: 50%;
    width: 123px;
    height: 123px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.grilla .grilla__span3 img {

    align-items: center;
    width: 61px;
    height: 61px;
}
