* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

}

.grid .one {
  background-color: yellow;
  height: 500px;
}

.grid .one img {
  width: 100%;
  height: 100%;
}
.grid .two {
  background-color: blue;
  height: 500px;
  
}
.grid .three {
  background-color: red;
  height: 500px;
  
}

.grid .three img {
  width: 100%;
  height: 100%;
}