
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
    position: sticky;
    top: 0;
    
}
header img {
    width: 50px;
    height: 50px;
 }

.menu li {
    display: inline-block;
    margin: 0 12px;
}

.menu li a {
    text-decoration: none;
    color: white
}

.menu a:hover {
   color:red; 
}

.seccion-2 {
    background-image: url(../img/seccion2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    width: 1500px;
    height: 1000px;
    background-color: aqua;
    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 25px; */
    padding: 30px 50px;
    margin: 50px auto;
    /* margin-top: -100px; */
    overflow: auto;
}

.seccion-2 .cajas {
    text-align: center;
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 50px 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    
    
}

.seccion-2 .cajas img {
    border: 3px solid black;
    height: 150px;
    width: 150px;

}

.seccion-1 {
    background-image: url(../img/fondo.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

.seccion-1 h1{
    color: whitesmoke;
    font-family: sans-serif;
}

.seccion-1 img {
    display: block;
    margin: auto;
    width: 1000px;
    height: 500px;
    
}

.seccion-1 h2, .seccion-1 p {
    font-size: larger;
    padding: 10px 40px;
    background-color: whitesmoke;
    opacity: .6;
    
}

.seccion-1 h2 {
    text-align: center;
    text-transform: capitalize;
    color: black;
}

.seccion-1 p {
    text-align: center;
}

#seccion-2 {
    display: inline;
    text-align: center;
    padding: 10px 40px;
    margin: auto;
}



.pie {
    background-color: black;
    padding: 50px;
    bottom: 0;
}

.pie nav ul li {
    display: inline-block;
}

.pie nav ul li img {
    width: 50px;
    height: 50px;
}

.pie .info {
    display: inline-block;
    position: relative;
    left: 1100px;
    color: white;
}

